
@media print {
    @page {
        size: auto; /* Adjust this to fit your label sheet size if necessary, e.g., 210mm 297mm */
        margin: 0mm; /* Set page margin to 0 */
    }

    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

.barcodea4{
    width: 8.25in;
    height: 11.6in;
    display: block;
    border: 1px solid #CCC;
    margin: 10px auto;
    padding: 0.1in 0 0 0.1in;
    page-break-after: always;
}

.barcode_non_a4{
    width: 8.45in;
    height: 10.3in;
    display: block;
    border: 1px solid #CCC;
    margin: 10px auto;
    padding-top: 0.1in;
    page-break-after: always;
}

.barcode_non_a4 .barcode-item {
	display: block;
	overflow: hidden;
	text-align: center;
	border: 1px dotted #CCC;
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	float: left;
} 

.barcode_non_a4 .head_barcode{
	padding-left: 10px;
	font-weight: bold;
	text-align: left;
}

.barcodea4 .head_barcode{
	padding-left: 10px;
	font-weight: bold;
	text-align: left;
}

.barcode-name{
	display: block;
}

.barcode-price{
	display: block;
}

.barcodea4 .style24 .head_barcode{
	font-size: 14px;
}

.barcodea4 .style18 .head_barcode{
	font-size: 14px;
}

.barcodea4 .style12 .head_barcode{
	font-size: 15px;
}

.barcode_non_a4 .head_barcode{
	font-size: 14px;
}
.barcode_non_a4 .style10 .head_barcode{
	font-size: 16px;
}

.barcodea4 .barcode-item {
	display: block;
	overflow: hidden;
	text-align: center;
	border: 1px dotted #CCC;
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	float: left;
} 

.barcodea4 .style40 {
    width: 1.799in;
    height: 1.003in;
	margin: 0 0.07in;
	padding-top: 0.05in;
} 

.barcode_non_a4 .style30 {
    width: 2.625in;
    height: 1in;
	margin: 0 0.07in;
	padding-top: 0.05in;
} 

.barcode_non_a4 .style30:nth-child(3n+1) {
    margin-left: 0.1in;
} 

.barcodea4 .style24 {
    width: 2.48in;
    height: 1.335in;
	margin-left: 0.079in;
	padding-top: 0.05in;
} 

.barcode_non_a4 .style20 {
    width: 4in;
    height: 1in;
	margin: 0 0.1in;
	padding-top: 0.05in;
} 

.barcodea4 .style18 {
    width: 2.5in;
    height: 1.835in;
	margin-left: 0.079in;
	padding-top: 0.05in;
	font-size: 13px;
	line-height: 20px;
} 

.barcode_non_a4 .style14 {
    width: 4in;
    height: 1.33in;
	margin: 0 0.1in;
	padding-top: 0.1in;
} 

.barcodea4 .style12 {
    width: 2.5in;
    height: 2.834in;
	margin-left: 0.079in;
	padding-top: 0.05in;
	font-size: 14px;
	line-height: 20px;
} 

.barcode_non_a4 .style10 {
    width: 4in;
    height: 2in;
	margin: 0 0.1in;
	padding-top: 0.1in;
	font-size: 14px;
	line-height: 20px;
} 

.barcode_custom .styleCustom32x25 {
    width: 32mm;
    height: 28mm; /* Increased height to give more space */
    margin: 0; /* No margins */
    padding: 0;
    display: inline-block;
    text-align: center;
    font-size: 10px;
    box-sizing: border-box;
}

.barcode_custom .barcode-item {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 33mm;
    height: 28mm; /* Increased height to match the container */
    box-sizing: border-box;
}

.barcode_custom .barcode-item .barcode {
    height: 50px; /* Adjust this value to control the barcode's height */
    width: 100; /* Maintain the width automatically */
    margin-bottom: 20px; /* Keep some space between the barcode and the item name */
    margin-right: 25px; /* Add space to the right of the barcode */
	margin-left: 30px;
    margin-top: 0; /* Remove the space at the top */
}
.barcode_custom .head_barcode {
    font-size: 10px; /* Adjust if necessary */
    margin-bottom: 1mm; /* Space between the item name and the barcode */
    margin-top: 1; /* Remove space above the item name */
    padding: 0; /* Ensure no extra padding */
}
}